@page "/"
<link href="css/sidebar.css" rel="stylesheet" />

<h1>RED VIAL</h1>
<style>

    .calles {
        display: flex;
        max-width: 1000px;
        flex-wrap: wrap;
        align-items: center;
        /* gap:5px; */
    }


</style>
@* <h2>Componente calle:</h2> *@

<h3>Calles</h3>
<div>
    <p>
        Menu
    </p>

    
</div>


<div class="sidebar">
    <button class="sidebar-btn">Agregar Carro</button>
    <button class="sidebar-btn">Seleccionar Carro</button>
    <button class="sidebar-btn">Mover carro</button>
    <button class="sidebar-btn">Eliminar carro</button>
    <button class="sidebar-btn">Cambiar estado semaforo</button>
    <button class="sidebar-btn">Terminar recorrido</button>
</div>

<div class="calles">
    <Calle></Calle>
    <Calle></Calle>
    <Calle></Calle>
    <Calle></Calle>
    <Calle></Calle>
</div>